.button {
  border: 1px solid var(--button--bg--color);
  padding: 8px 16px;
  color: var(--button--font--color);
  background-color: var(--button--bg--color);
  font-size: var(--button--font--size);
  border-radius: var(--button--border--radius);
  height: var(--button--height);

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.normal {
  }

  &.important {
  }

  &.danger {
    background: var(--button-bg-danger);
    border-color: var(--button-bg-danger);
  }
}
