.tabs {
  >nav {
    >ol {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: var(--navbar-text);
      position: sticky;
      z-index: 1;
      top: 0;

      >.indicator {
        position: absolute;
        height: 3px;
        background: var(--tabs-indicator-bg);
        left: 0;
        bottom: -1px;
        width: 100%;
        transition: all 250ms linear;
      }

      >li {
        flex-shrink: 0;
        flex-grow: 1;
        padding: 12px 0;
        background: var(--navbar-bg-end);

        // &.selected {
        //   position: relative;

        // &::after {
        //   content: '';
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   right: 0;
        //   height: 4px;
        //   width: 100%;
        //   background: var(--tabs-indicator-bg);
        //   display: block;
        //   // }
        // }
      }
    }
  }
}