:root {
  --action--font--color: #6035BF;
  --button--bg--color: #5C33BE;
  --button--border--radius: 8px;
  --button--font--color: #fff;
  --button--font--size: 18px;
  --button--height: 48px;
  --button-bg-important: #5C33BE;
  --button-bg: white;
  --button-border-color: #ddd;
  --button-text-important: white;
  --contain--bg--color: #fff;
  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: #E10505;
  --float-button-bg: var(--button--bg--color);
  --float-button-text: white;
  --input-border-color: #5c33be;
  --input-min-height: 48px;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --navbar-bg-end: var(--welcome--bg-color--end);
  --navbar-bg-start: var(--welcome--bg-color--start);
  --navbar-text: white;
  --overlay-bg: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: white;
  --skip--font--color: #fff;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --title--font--color: #fff;
  --top-safe-area-height: 24px;
  --welcome--bg-color--end: #8F4CD7;
  --welcome--bg-color--start: #5C33BE;
  --z-index-overlay: 8;
  --main: #5c33be;
  --tag-bg: #EFEFEF;
  --button-bg-danger: #E10505;
  --button-save-bg: #5C33BE;
}