:root {
  --welcome--bg-color--start: #5C33BE;
  --welcome--bg-color--end: #8F4CD7;
  --skip--font--color: #fff;
  --title--font--color: #fff;
  --contain--bg--color: #fff;
  --action--font--color: #6035BF;
  --button--bg--color: #5C33BE;
  --button--font--color: #fff;
  --button--font--size: 18px;
  --button--border--radius: 8px;
  --button--height: 48px;
  --float-button-text: white;
  --float-button-bg: var(--button--bg--color);
  --navbar-bg-start: var(--welcome--bg-color--start);
  --navbar-bg-end: var(--welcome--bg-color--end);
  --navbar-text: white;
}