:root {
  --welcome--bg-color--start: #5C33BE;
  --welcome--bg-color--end: #8F4CD7;
  --skip--font--color: #fff;
  --title--font--color: #fff;
  --contain--bg--color: #fff;
  --action--font--color: #6035BF;
}